@font-face {
   font-family: 'NotoSansHebrew-VariableFont_wdth,wght';
   font-display: swap;
   src: url('file:///Users/asafdayan/Library/Application%20Support/Mobirise.com/Mobirise/projects/project-2024-06-01_103703/fonts/NotoSansHebrew-VariableFont_wdth,wght/font.ttf');
}
